.Anchor {
  padding-top: 2rem;
  margin: auto;
}

.Scroller {
  min-height: 100%;
}

.Scroller-Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.Scroller-Image {
  position: relative;
  border: solid 5px #cccccc;
  transition: all ease 1s;
}

.Scroller-Image-Overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0;
  background-color: #a65ce5;
  transition: all ease 1s;
}

.Scroller-Image-Overlay--visible {
  opacity: 1;
}
