html,
body {
  height: 100%;
}
#root {
  background: linear-gradient(#e565b9, #04e590);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: #a65ce5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #5c337f;
  color: #cccccc;
  font-family: monospace;
  font-size: 2rem;
  transition: all 300ms ease;
}

button:active {
  background: #5c337f;
  box-shadow: none;
  transform: scale(0.9);
}

button:hover:not(:active) {
  background: #ce94ff;
  color: #222222;
  box-shadow: 0 0 3px 3px #b967ff;
}
